.git
.github
.env
.env.*
!.env.example
!.env.production.example
node_modules/*
!node_modules/.cache
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/pail
resources/js/actions
resources/js/routes
resources/js/wayfinder
tests
docs
Makefile
docker-compose.yml
docker-compose.production.yml
Caddyfile
Dockerfile
.dockerignore
.phpunit.cache
.phpactor.json
.phpunit.result.cache
*.md
